{% extends "core/base.html" %}
{% load static %}

{% block head %}
<title>Logs | Leroy Buliro</title>
<meta name="description" content="Logs by Leroy Buliro">
<meta name="keyword" content="Tech, Kenya, Nairobi, booze, travel, nightlife, food, lifestyle, culture">
<link rel="stylesheet" href="{% static 'core/blog.css' %}">
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@graph": [
        {
            "@id": "#site",
            "@type": "Website",
            "name": "Leroy Buliro",
            "author": "Leroy Buliro",
            "description": "The official website of Leroy Buliro.",
            "url": "https://www.buliro.net",
            "schemaVersion": "10.0",
            "keywords": "Leroy Buliro",
        },
        {
            "@type": "Blog",
            "isPartOf": "#site",
            "name": "Logs by Leroy Buliro",
            "description": "Logs by Leroy Buliro",
            "url": "https://leroybuliro.com/logs",
            "keywords": "Tech, Kenya, Nairobi, booze, travel, nightlife, food, lifestyle, culture",
        },
        ]
    }
</script>
{% endblock head %}

{% block navmenu %}
<!-- <a href="{% url 'core:home' %}">HOME</a>
<a id="menuactive" >LOGS</a>
<a href="{% url 'core:home' %}">PODCAST</a> -->
{% endblock navmenu %}

{% block page %}
<div>
    <div class="search">
        <div>
            <input type="text" placeholder="Search">
            <img class="icon_search" src="{% static 'core/media/search.svg' %}" >
        </div>
        <div class="filter">
            <button>Date range</button>
            <button>Category</button>
            <button>Clear filters</button>
        </div>
    </div>
    <div class="blogpage">
        {% if articles %}
        <div id="articles">
            {% for article in articles %}
            <article>
                <a class="articlediv" href="{% url 'core:article' pk=article.id slug=article.slug %}">                    
                    <div class="image">
                        {% if article.featureimageURI %}
                            <img class="blogimage" src="{{ article.featureimageURI }}" alt="{{ article.title }}">
                        {% else %}
                            <img class="blogimage" src="{{ article.featureimage.url }}" alt="{{ article.title }}">
                        {% endif %}
                    </div>
                    <div>
                        <h2>{{ article.title }}</h2>
                        <br>
                        {% if article.extract %}
                            <div class="extract">{{ article.extract }}</div>
                        {% else %}
                            <div class="extract">{{ article.content | safe | truncatewords:20 }}</div>
                        {% endif %}
                        <br>
                        <div class="pubDate">{{ article.publishdate }}</div>
                    </div>
                </a>
            </article>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    
    <!-- <div class="showbtn">
        <button class="loadnext">SHOW MORE</button>
    </div> -->
</div>
{% endblock page %}
