{% extends "core/base.html" %}
{% load static %}

{% block head %}
<title>Home | Leroy Buliro</title>
<meta name="description" content="Logs by Leroy Buliro">
<meta name="keyword" content="Tech, Kenya, Nairobi, booze, travel, nightlife, food, lifestyle, culture">
<link rel="stylesheet" href="{% static 'core/homepage.css' %}">
{% endblock head %}

{% block navmenu %}
<a href="#logs">LOGS</a>
<a href="#podcast">PODCAST</a>
<a href="#music">MUSIC</a>
{% endblock navmenu %}

{% block page %}
<div class="home">
    <div id="logs" class="blogpage">
        <div class="title">LOGS</div>
        <div class="title-divider"></div>

        {% if featured %}
        <section class="featured">
            <a class="featuredsec" href="{% url 'core:article' pk=featured.id slug=featured.slug %}">                    
                <div class="image">
                    {% if featured.featureimageURI %}
                    <img class="blogimage" src="{{ featured.featureimageURI }}" alt="{{ featured.title }}">
                    {% else %}
                    <img class="blogimage" src="{{ featured.featureimage.url }}" alt="{{ featured.title }}">
                    {% endif %}
                </div>
                <div class="featuredmeta">
                    <div class="meta">
                        <div>
                            <span class="category">{{ featured.category }}</span>
                        </div>
                        <h1>{{ featured.title }}</h1>
                        {% if featured.extract %}
                        <p class="extract" style="font-size: 14px;">{{ featured.extract  }}</p>
                        {% else %}
                        <p class="extract">{{ featured.content | safe | truncatewords:24 }}</p>
                        {% endif %}
                        <p class="extra">By <strong>{{ featured.writer }}</strong> | {{ featured.publishdate }}</p>
                    </div>
                </div>
            </a>
        </section>
        {% endif %}

        {% if articles %}
        <div class="posts">
            {% for article in articles %}
            <article>
                <a class="articlediv" href="{% url 'core:article' pk=article.id slug=article.slug %}">                    
                    <div class="image">
                        {% if article.featureimageURI %}
                            <img class="blogimage" src="{{ article.featureimageURI }}" alt="{{ article.title }}">
                        {% else %}
                            <img class="blogimage" src="{{ article.featureimage.url }}" alt="{{ article.title }}">
                        {% endif %}
                    </div>
                    <div>
                        <h2>{{ article.title }}</h2>
                        <br>
                        {% if article.extract %}
                        <span class="extract">{{ article.extract }}</span>
                        {% else %}
                        <span class="extract">{{ article.content | safe | truncatewords:20 }}</span>
                        {% endif %}
                    </div>
                </a>
            </article>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    <div id="podcast" class="pod_section">
        <section>
            <div class="pod_header">PODCAST</div>
            <p class="pod_about">Translated to "talk" in Swahili slang - "Kubonga" is a seasonal, meandering conversation with guests where they tell their stories, converse on topics close to their heart and, yeah, just have a nice chat</p>
            <div class="pod_urls">
                <a href="https://podcasts.apple.com/us/podcast/kubonga-show/id1470474649" target="_blank">
                    <img src="{% static 'core/media/appleBadge.svg' %}"/>                        
                </a>
                <br>
                <a href="https://open.spotify.com/show/2yUYmMbNJ2aXWDPoHF6P7D" target="_blank">
                    <img src="{% static 'core/media/spotifyBadge.svg' %}"/>
                </a>
            </div>
            <div class="credit">
                <a href="https://www.siambibrian.co/" target="_blank">Photo credits: Brian Siambi</a>
            </div>
        </section>        
    </div>

    <div id="projects" class="inner gray-bc">
        <div class="title">PROJECTS & DEMOS</div>
        <div class="title-divider"></div>
        <p>This section showcases a collection of systems and projects that Leroy has dedicated his efforts to over the years. By clicking on a specific entry, marked for your convenience, you can delve into comprehensive information about the respective project. This includes detailed descriptions, related papers, video demonstrations, and additional resources, offering you a deeper understanding.</p>
    </div>

    <div id="music" class="inner">
        <div class="title">MUSIC</div>
        <div class="title-divider"></div>
        <p>Apart from his technological pursuits, Leroy, who goes by the stage name <a href="https://ra.co/dj/lerb" target="_blank" >LERB</a>, is a renowned underground DJ. He has garnered accolades for his exceptional talent and captivated audiences on large stages. Additionally, his skillful performances have also reached a vast listenership through radio broadcasts, touching the hearts of thousands.</p>
        <br><br>
        <video src="{% static 'core/media/intro.mp4' %}" autoplay muted loop></video>
        <br>
        <div class="music_img">            
            <img src="{% static 'core/media/lerb2.jpg' %}"/>            
            <img src="{% static 'core/media/lerb10.jpg' %}"/>            
            <img src="{% static 'core/media/lerb9.jpg' %}"/>
            <img src="{% static 'core/media/lerb11.jpeg' %}"/>            
            <img src="{% static 'core/media/lerb4.jpg' %}"/>            
        </div>
    </div>
</div>
{% endblock page %}
