{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="icon" type="image/png" href="{% static 'core/media/favicon.ico' %}"/>
        <meta name="author" content="Leroy Buliro"/>
        <title>Leroy Buliro</title>
        <meta name="description" content="This is the official website of Leroy Buliro.">
        <link rel="stylesheet" href="{% static 'core/homepage.css' %}">
        <link rel="stylesheet" href="{% static 'core/base.css' %}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@graph": [
                {
                    "@id": "#site",
                    "@type": "Website",
                    "name": "Leroy Buliro",
                    "author": "Leroy Buliro",
                    "description": "Leroy Buliro: deejay, financial advisor, writer, podcaster",
                    "url": "https://leroybuliro.com",
                    "schemaVersion": "10.0",
                    "keywords": "Kenya, Nairobi, booze, travel, nightlife, food, lifestyle, culture",
                },
                {
                    "@type": "Blog",
                    "isPartOf": "#site",
                    "name": "Logs by Leroy Buliro",
                    "description": "A-Z Logs, a blog by Leroy Buliro",
                    "url": "https://leroybuliro.com/logs",
                    "keywords": "Tech, Kenya, Nairobi, booze, travel, nightlife, food, lifestyle, culture",
                }
                ]
            }
        </script>
    </head>
    <body>
        <div class="container">
            <div class="content">
                <video src="{% static 'core/media/intro.mp4' %}" autoplay muted loop></video>
                <section>                    
                    <div class="links">
                        <div class="pages">
                            <a href="{% url 'core:home' %}">HOME</a>
                        </div>
                        <img src="{% static 'core/media/lbwhite.svg' %}" alt="leroy" style="width: auto; height: 20px; opacity: 0.7;">
                        <div id="socials">
                            <a href="https://www.soundcloud.com/djlerb/" target="_blank" rel="noreferrer">
                                <img class="slink" src="{% static 'core/assets/soundcloud.svg' %}" alt="find leroy on soundcloud">
                            </a>
                            <a href="https://www.twitter.com/leroybuliro/" target="_blank" rel="noreferrer">
                                <img class="slink" src="{% static 'core/assets/twitter.svg' %}" alt="find leroy on twitter">
                            </a>
                            <a href="https://www.github.com/leroysb/" target="_blank" rel="noreferrer">
                                <img class="slink" src="{% static 'core/assets/github.svg' %}" alt="find leroy on github">
                            </a>
                            <a href="https://www.linkedin.com/in/buliro/" target="_blank" rel="noreferrer">
                                <img class="slink" src="{% static 'core/assets/linkedin.svg' %}" alt="find leroy on linkedin">
                            </a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <noscript>
            <div style="display: flex; place-content: center; background-color: tomato;">
                <p style="color: #fff; padding: 7px 0">Javascript not supported on your browser, please enable Javascript in order to fully utilize the website</p>
            </div>
        </noscript>
        {% if messages %}
        {% for message in messages %}
        <div class="popmessage">
            <p class="message">{{ message }}</p>
        </div>
        {% endfor %}
        {% endif %}
    </body>
</html>