/*
----------------------------------

        Name: blog.css
        Version: 3

----------------------------------

        Table of Contents
        
        #Reset
        #Search Screen
        #Article Screens
*/

.pagebody {
    background-color: #000;
}
.blogpage {
    padding-top: 48px;
    margin: 0 7vw 30vh 7vw;
}
.centered {
    width: 100%;
    display: flex;
    place-items: left;
    margin-bottom: 40px;
}
.pageheader {
    display: inline;
    color: #fff;
    font-family: CrimsonPro;
    font-size:40px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 15px 0;
    border-bottom: 2px #7dba5c solid;
}
.pagesubheader {
    color: #ededed;
    font-family: CrimsonPro;
    font-size: medium;
    font-weight: lighter;
    text-align: center;
    line-height: 1rem;
    margin-top: 12px;
}
.featured {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 0 30px 0;
}
.featuredsec {
    border: none;
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 22px;
    cursor: pointer;
    color: #FFFFFF;
}
.featuredsec .image {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 3 / 2;
    overflow: hidden;
}
.featuredsec .blogimage {
    width: 100%;
    height: 100%;
}
.featuredmeta {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
}
.meta {
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.meta .category {
    display: inline-block;
    border-bottom: 2px #EDEDED solid;
    color: #ededed;
    font-family: CrimsonPro;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}
.meta .title {
    font-size: 32px;
    color: #FFFFFF;
    font-family: CrimsonPro;
    font-weight: bold;
    text-transform: uppercase;
}
.meta .extract {
    color: #EDEDED;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}
.meta .extract:hover {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}
.meta .extra {
    color: #EDEDED;
    font-family: CrimsonPro;
    font-size: 14px;
    font-weight: 400;
}
#articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 22px;
}
.articlediv {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}
.articlediv:hover {
    color: #FFFFFF;
    text-decoration: none;
}
.articlediv:hover .title {
    text-decoration: underline;
}
.articlediv .image {
    object-fit: fill;
    object-position: center;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}
.articlediv .blogimage {
    height: 100%;
    transform: scale(1);
    transition: 700ms ease-in-out;
}
.articlediv:hover .blogimage {
    transform: scale(1.2);
}
.articlemeta {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    text-align: center;

}
.articlemeta .category {
    color: #92a1a6;
    font-family: CrimsonPro;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}
.articlemeta .title {
    color: #FFFFFF;
    font-family: CrimsonPro;
    font-size: 20px;
    font-weight: bold;
}
.articlemeta .extract {
    font-family: Raleway;
    font-size: 14px;
    line-height: 1.2rem;
    color: #EDEDED;
    text-decoration: none;
}
.showbtn {
    width: 100%;
    display: flex;
    place-content: center;
    padding: 20px 0 30px;
}
.loadnext {
    font-family: Raleway;
    border: 1px #016170 solid;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    font-size: small;
    font-weight: bold;
    border-radius: 8px;
    padding: 1% 4%;
}

/** For mobile devices **/
@media screen and (max-width: 720px) {
    .blogpage {
        padding-top: 24px;
        margin: 0 1vw 70px 1vw;
    }
    .pageheader {
        font-size: 30px;
    }
    .pagesubheader {
        font-size: 14px;
    }
    .featured {
        margin: 0 0 34px 0;
    }
    .featuredsec {
        display: flex;
        flex-direction: column;
        gap: 17px;
    }
    .featuredmeta {
        margin: 0 4px;
    }
    .meta {
        gap: 10px;
    }
    .meta .category {
        font-size: 13px;
    }
    .meta .title {
        font-size: 24px;
    }
    .meta .extra {
        font-size: 13px;
    }
    #articles {
        grid-template-columns: 1fr;
        gap: 22px;
        margin: 0 4px;
    }
    .articlediv {
        grid-template-columns: 1fr 2fr;
    }
    .articlemeta {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        text-align: left;
    }
}
