/*
----------------------------------

        Name: blog.css
        Version: 3

----------------------------------

        Table of Contents
        
        #Reset
        #Search Screen
        #Articles Screen

/* ==========================================================================
   #Typography
   ========================================================================== */

.pagebody {
    background-color: #000000;
}

/* ==========================================================================
   #Search Screen
   ========================================================================== */

.search {
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: #171a23ac;
    display: flex;
    flex-direction: row;
    gap: 14px;
    padding: 30px 7vw;
}

.search div {
    position: relative;
}

.search div input {
    font-size: 14px;
    font-family: Raleway;
    color: #000000;
    padding: 4px 6px;
}

.search div .icon_search {
    position: absolute;
    right: 0;
    width: 30px;
    height: auto;
    cursor: pointer;
}

.filter {
    display: flex;
    flex-direction: row;
    gap: 14px;
}

.filter button {
    background-color: #FFFFFF;
    border-radius: 0;
    border: none;
    font-family: Raleway;
    font-size: 14px;
    color: #647175;
    padding: 2px 10px;
    cursor: pointer;
}

.search button:hover {
    color: #000000;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .search div input{
        width: 100%;
    }
    .search {
        flex-direction: column;
        gap: 14px;
        padding: 20px 3vw;
    }
}

/* ==========================================================================
   #Articles Screen
   ========================================================================== */

.blogpage {
    padding: 20vh 7vw;
}

#articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 22px;
}

.articlediv {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

.articlediv:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.articlediv:hover h2 {
    text-decoration: underline;
}

.articlediv .image {
    object-fit: fill;
    object-position: center;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.articlediv .blogimage {
    height: 100%;
    transform: scale(1);
    transition: 700ms ease-in-out;
}

.articlediv:hover .blogimage {
    transform: scale(1.2);
}

article h2 {
    color: #FFFFFF;
    font-family: CrimsonPro;
    text-align: left;
}

article .extract {
    font-family: Raleway;
    font-size: 14px;
    line-height: 1.2rem;
    color: #EDEDED;
    text-decoration: none;
    text-align: left;
}

article .pubDate {
    font-family: Raleway;
    font-size: 12px;
    color: #647175;
    text-decoration: none;
    text-align: left;
}

.showbtn {
    width: 100%;
    display: flex;
    place-content: center;
    padding: 20px 0 30px;
}

.loadnext {
    font-family: Raleway;
    border: 1px #016170 solid;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    font-size: small;
    font-weight: bold;
    border-radius: 8px;
    padding: 1% 4%;
}

/** For mobile devices **/
@media screen and (max-width: 767px) {

    .blogpage {
        padding: 20vh 3vw;
    }

    #articles {
        grid-template-columns: 1fr;
        gap: 22px;
        margin: 0 4px;
    }

    .articlediv {
        grid-template-columns: 1fr 2fr;
    }
}

/** For tablet devices **/
@media screen and (min-width: ) (max-width: 767px) {

    .blogpage {
        padding: 2vh 3vw;
    }
}
